* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
  
  }
  

body {

    background: url("/src/assets/list.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
     
}

header {
    display: grid;
    justify-content: center;
    margin: 1.5rem;
    gap: 0.7rem;
}

.symbol-add {
    display: flex;
    color: black;
    justify-content: center;
    margin: 0.4rem;
}


.text-logo {
    color: black;
    font-size: 3rem;
    border: 1px 1px 1px 1px solid white;
}



main {
    display: grid;
    grid-template-columns: 30rem 2rem;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
}

.add-task {
    display: flex;
    color: black;
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 1.2rem;
    width: 105.5rem;   
    margin-left: 6rem;
}


.add-cont {
    display: flex;
    color: black;
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 1.2rem;
    
}

.add-btn {
    display: flex;
    border-radius: 1.2rem;
    width: 2.3rem;
    height: 2.3rem;
    color: black;
    background-color: gray;
    transition: .2s;
    padding: 6px;
}

.add {
    border: none;
    margin: 0.4rem;
    background: none;
}

.add-btn:hover {
    background-color: gray;
    color: white;
}

.Task-Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 128rem;
    width: 100%;
}

.Word {
    font-size: 16px;
    color: #333;
    color: black;
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 1.2rem;
    background-color: rgba(8, 8, 8, 0.226);
    width: 20.6rem;   
}

.Task {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
}


.trash {
    display: flex;
    border-radius: 0.6rem ;
    cursor: pointer;
    height: 2.2rem;
    width: 5rem;
}

 i {
    background-color: gray;
    color: black;
    width: 5rem;
    height: 1.9rem;
    padding: 0.2rem;
    transition: .2s;
}


.trash :hover {
    color: white;
}

.Task {
    display: none;
}

@media screen and (max-width: 868px) {
    header {
        grid-template-columns: 1fr; /* Altere a estrutura da grade para uma única coluna */
        justify-content: center;
        text-align: center; /* Alinhe o texto ao centro */
    }

    .text-logo {
        font-size: 2rem; /* Reduza o tamanho do logo */
    }

    main {
        margin: 1rem; /* Reduza as margens */
    }

    .add-task {
        font-size: 0.8rem;
        width: 35%; /* Ajuste a largura da tarefa de adição */
        margin-left: 1rem  /* Ajuste as margens */
    }

    .add-cont {
        justify-content: center; /* Centralize o botão de adição */
        margin: 1rem 0; /* Ajuste as margens */
    }

    .add-btn {
        width: 2rem; /* Ajuste o tamanho do botão de adição */
        height: 2rem;
        padding: 5px;
    }

    .Word {
        font-size: 0.7rem;
        width: 70%; /* Ajuste a largura das tarefas */
        height: 1.5rem;
        margin: 0.5rem 0;
        align-items: center;
    }

    .trash {
        width: 1rem; /* Ajuste o tamanho do ícone de lixeira */
        height: 2rem;
    }

    i {
        width: 4rem;
        height: 1.8rem;
    }

    .Task-Container {
        margin-left: 2.9rem;
        align-items: center;
        width: 70%;
        
    }
}


